@{
  Layout = "_Layout";
}

  <div class='container'>
    <h1>@Model.FirstName @Model.LastName</h1>
    <h2><a href="tel:555-555-5555">@Model.PhoneNumber</a> | <a href="mailto:@Model.Email">@Model.Email</a> | Employed Since: @Model.ConvertDateToString(Model.StartDate)</h2>
    <h2><a href="http://maps.google.com/?q=@Model.Street, @Model.City, @Model.State @Model.Zip">@Model.Street, @Model.City, @Model.State @Model.Zip</a></h2>

    <a href="/stylists" class="btn btn-warning">All Employees</a>
    <a href="/stylists/@Model.Id/update" class="btn btn-warning">Update Details</a>
    <a href="/clients/new" class="btn btn-warning">Add Client</a>
    <a href="/stylists/@Model.Id/delete" class="btn btn-danger">Remove Employee</a>
  </div>