@{
  Layout = "_Layout";
}

  <div class='container'>
    <h1>@Model.FirstName @Model.LastName</h1>
    <h3><a href="tel:555-555-5555">@Model.PhoneNumber</a> | <a href="mailto:@Model.Email">@Model.Email</a></h3>
    <h3>Notes:</h3>
    <div class="well">
      @Model.Notes
    </div>

    <a href="/clients" class="btn btn-default">All Clients</a>
    <a href="/stylists/@Model.StylistId" class="btn btn-primary">Stylist's Page</a>
    <a href="/clients/@Model.Id/update" class="btn btn-info">Update Details</a>
    <a href="/clients/@Model.Id/delete" class="btn btn-danger">Remove Client</a>
  </div>